/*Mes styles */

/*on rend le scroll plus fluide*/
html{
    scroll-behavior:smooth;
}

/*on declare la variable couleur princiaple*/
body{
    --main-color:red;
}


/*je decide que TOUS mes liens ne soient pas surllignés*/
a {
    text-decoration: none;
    color:blue;
}

/*tous les liens non visités sont de cette couleur*/
a:visited{
    color:purple;
}

/*Je choisis la couleur ou comportement du lien au survol de la souris*/
a:hover{
    background: orange;
    color:black;
    text-decoration: underline;
}

h1:hover{
    color: rgb(0, 0, 0);
}

.bold{
    font-weight: bold;
}

strong{
    font-weight: normal;
}

.red{
    color: var(--main-color);
}

.blue{
    color: blue;
}

.bgRed{
    background-color: var(--main-color);
}

.text-center{
    text-align: center;
}

.dinguerie{
    color: blue;
    color: red;
}


/*si on met plusieurs couleur à un lien par exemple, ce sera la dernière couleur qui sera pris en compte, sauf si on met "!important" 
a cote de la couleur, exemple : 
color : rouge
color : bleu !important;
color : jaune */



/*FLEXBOX*/
.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}





/*----------------------------BODY------------------------------*/
.body{
    background-image:url(../Images/fond.jpg);
    width: 1100px;
    margin: auto;   /*centre ma page*/
}





/*----------------------------HEADER---------------------------*/
.h1{
    background-color: rgb(106, 238, 176);
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
}


/*----NAV + image----*/
.navimage{
    background-color: rgb(202, 200, 200);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

/*Liens portfolio, contact et facebook*/
.bloc0{
    padding-top: 50px;
    padding-left: 50px;
    font-size: 15px;
}

/*Liens EXP et Form*/
.bloc1{
    background-color: rgb(106, 238, 176);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

/*Liens EXP*/
.paddingleft{
    padding-left: 50px;
}





/*--------------------------COORDONNEES--------------------------*/
.bloc2{
    background-color: rgb(202, 200, 200);
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
}





/*----------------EXPERIENCES PROFESSIONNELLES-------------------*/
.bloc3{
    background-color: rgb(202, 200, 200);
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
}





/*-------------------FORMATIONS ET DIPLOMES-----------------------*/
.bloc4{
    background-color: rgb(202, 200, 200);
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
}


/*--------------------------FOOTER-------------------------------*/
.bloc5{
    background-color: rgb(202, 200, 200);
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
}